//Değişkenler
// Degiskenler
$background: #f6f8fc;
$light_gray: #f8f9fa;
$gray: #e9ecef;
$dark_gray: #495057;
$light_blue: #d0ebff;

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center; // Yatayda ve dikeyde etiketleri ortalama
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #d8dbdd;
  }
}
